#nho {
    width: 80%;
    height: 30px;
    margin-top: 5px;
    border: 1.5px solid gray;
}

#form1 {
    margin-left: 350px;
}

#submit {
    float: left;
    width: 15%;
    height: 30px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}